@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Core MVC - zadania</h1>
    <ul>
        <li>
            @Html.ActionLink("Ciekawe linki", "InterestingLinks", "Home")
        </li>
        <li>
            @Html.ActionLink("Wszystkie samochody", "GetAllCars", "Home")
        </li>
        <li>
            @Html.ActionLink("Lista modeli samochodów", "GetListOfModels", "Home")
        </li>
        <li>
            @Html.ActionLink("Forma kontaktowa", "ContactForm", "Home")
        </li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
